<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
  
    <link rel="stylesheet" href="layout.css">
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="/home/feuji/BOOTSTRAP FILES/layout/Digiencylogo.png" alt="Digiency" class="logo"></div>
                <ul class="nav justify-content-center  heading">
                    <li class="nav-item ">
                      <a class="nav-link color" aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-black" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-black" href="#">SERVICES</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-black" aria-current="page" href="#">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#">BLOG</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-black" href="#">CONTACT US</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-black"><button class="letstalk">lets talk</button></a>
                      </li>
                  </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 para">
<h1 class="fw-blod">Choose What Matters To Your Business & Your Customers</h1><br>
<p class="fw-lighter">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquamin digni ssim euismod purus donec mus vulputate habitant iaculis. Comodo enim ornare turpis tempus enim, nibh nulla. Rhoncus sed.</p><br>
<button class="getbtn"><p class= "getpara">get start now</p></button><br>
  </div>
            <div class="col-sm-6 image">
                <img src="/home/feuji/BOOTSTRAP FILES/layout/Frame 19.png" alt="pana" class="imag">
            </div>
        </div>
    </div>
</body>
</html>
